[global]
delayAsymmetry      0
clock_type          OC
network_transport   L2
time_stamping       software
verbose             1
logging_level       7

domainNumber        127


# deprecated (relaced by serverOnl)
# masterOnly          1
serverOnly            1

# power of 2 seconds
logSyncInterval     0

twoStepFlag         1

# Options carried over from gPTP.
gmCapable          1
priority1          248
priority2          248
syncReceiptTimeout 3
neighborPropDelayThresh	800
min_neighbor_prop_delay	-20000000
path_trace_enabled	1
follow_up_info		1
transportSpecific 0x1

#
# Automotive Profile specific options
#
BMCA			noop
inhibit_announce	1
asCapable		true
inhibit_delay_req	1

# Don't adjust the local clock
free_running      1

# UNIX domain socket for receiving local management messages
uds_address       /var/run/ptp4l-server
uds_ro_address    /var/run/ptp4lro-server